beautifulsoup4==4.10.0
ipywidgets==7.6.5
numpy==1.22.0
pandas==1.0.5
PyYAML==6.0
requests==2.27.1
tqdm==4.56.0
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
